<html>
<head>
    <script src="bower_components/jquery/dist//jquery.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <script src="metrics-graphics-2.11.0/dist/metricsgraphics.min.js"></script>
    <script src="bower_components/vis/dist/vis.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <!--<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="metrics-graphics-2.11.0/dist/metricsgraphics.css" type="text/css" rel="stylesheet"/>
    <link href="bower_components/vis/dist/vis.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet"/>
    <!--$<link href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" type="text/css" rel="stylesheet"/>-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.min.css" type="text/css" rel="stylesheet"/>

    <style>
        .glyphicon-refresh-animate {
            -animation: spin .7s infinite linear;
            -webkit-animation: spin2 .7s infinite linear;
        }

        @-webkit-keyframes spin2 {
            from { -webkit-transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg);}
        }

        @keyframes spin {
            from { transform: scale(1) rotate(0deg);}
            to { transform: scale(1) rotate(360deg);}
        }
        .btn-badge {
            min-width: 160px !important;
            display: inline-block !important;
            margin: 10px !important;
        }
        .badge {
            margin: 5px !important;
        }
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Bubble Chamber</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-on:click="showTab(1)"><a class="nav-link" href="#">Procs</a></li>
                    <li class="nav-item" v-on:click="showTab(2)"><a class="nav-link" href="#">Cpu</a></li>
                    <li class="nav-item" v-on:click="showTab(3)"><a class="nav-link" href="#">Mem</a></li>
                    <li class="nav-item" v-on:click="showTab(4)"><a class="nav-link" href="#">Io</a></li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Time scale
                                  </a>
                            <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" id="show_cpu_s" v-on:click="changeRange('s')">seconds</a>
                                <a class="dropdown-item" href="#" id="show_cpu_m" v-on:click="changeRange('m')">minutes</a>
                                <a class="dropdown-item" href="#" id="show_cpu_h" v-on:click="changeRange('h')">hours</a>
                                <a class="dropdown-item"href="#" id="show_cpu_d" v-on:click="changeRange('d')">days</a>
                            </div>
                    </li>
                </div>
    </nav>
    
    <div class="row" id="msg"></div>
    <proc v-if="showtab == 1" :proclist="proclist"></proc>
    <cpu v-if="showtab == 2" :proclist="proclist" :interval="interval"></cpu>
    <mem v-if="showtab == 3" :proclist="proclist" :interval="interval"></mem>
    <io v-if="showtab == 4" :proclist="proclist" :interval="interval"></io>
    
</div>


<script type="text/x-template" id="proc">
    <div class="card">
            <div class="card-header">Processes</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div><button type="button" class="btn btn-primary btn-badge" >Number of process <span class="badge pull-right">{{nbprocess}}</span></button></div>
                    </div>
                </div>
                <div class="row" id="proc_tab">
                        <div class="card">
                            <div class="card-header">Details (last 1000 ids)</div>
                            <div class="card-body">
                                    <div id="procs_relationship">
                                    </div>
                                    <table id="proc_table" class="display table table-condensed table-striped table-bordered">
                                        <thead>
                                            <tr><td>Process id</td><td>Exe</td><td>Args</td></tr>
                                        </thead>
                                        <tbody id="proc_info">
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</script>
<script type="text/x-template" id="cpu">
<div class="card">
    <div class="card-header">CPU</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                    <form class="form form-inline">
                            <div class="form-group">
                                <span>Details </span>
                                <select class="form-control" id="cpu_proc">
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="cpu_proc_show" v-on:click="showProc()">show</button>
                            </div>
                    </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="mychart_cpu0"></div>
            </div>
            <div class="col-md-6">
                <div id="mychart_cpu_details"></div>

            </div>
        </div>
    </div>
</div>
</script>
<script type="text/x-template" id="mem">
    <div class="card">
        <div class="card-header">Top Memory (Mb)</div>
        <div class="card-body">
            <div id="mychart_mem"></div>
        </div>
    </div>

</script>
<script type="text/x-template" id="io">
    <div class="card">
        <div class="card-header">IO</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">Files</div>
                        <div class="card-body">
                            <div><button type="button" class="btn btn-primary btn-badge">In+Out <span class="badge pull-right" id="gb_io_files_in_out">{{gb_io_files_in_out}}</span></button></div>
                            <div><button type="button" class="btn btn-primary btn-badge">In <span class="badge pull-right" id="gb_io_files_in">{{gb_io_files_in}}</span></button></div>
                            <div><button type="button" class="btn btn-primary btn-badge">Out <span class="badge pull-right" id="gb_io_files_out">{{gb_io_files_out}}</span></button></div>
                            <div><button type="button" class="btn btn-primary btn-badge">Access <span class="badge pull-right" id="gb_io_files_access">{{gb_io_files_access}}</span></button></div>
                            <div><button type="button" class="btn btn-primary btn-badge">Modified <span class="badge pull-right" id="gb_io_files_modified">{{gb_io_files_modified}}</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">Network</div>
                        <div class="card-body">
                            <div><button type="button" class="btn btn-primary btn-badge">In+Out <span class="badge pull-right" id="gb_io_network_in_out">{{gb_io_network_in_out}}</span></button></div>
                            <div><button type="button" class="btn btn-primary btn-badge">In <span class="badge pull-right" id="gb_io_network_in">{{gb_io_network_in}}</span></button></div>
                            <div><button type="button" class="btn btn-primary btn-badge">Out <span class="badge pull-right" id="gb_io_network_out">{{gb_io_network_out}}</span></button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="io_interval_tab">
                <div class="col-sm-12" id="mychart_io_interval"></div>
            </div>
            <div class="row" id="io_tab">
                            <table id="io_table" class="display table table-condensed table-striped table-bordered">
                                <thead>
                                    <tr><td>Process id</td><td>File name</td><td>Bytes in</td><td>Bytes out</td></tr>
                                </thead>
                                <tbody id="io_all_list">
                                </tbody>
                            </table>
            </div>
        </div>
    </div>
</script>

    <script>


    $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                      .exec(window.location.href);
    if(results == undefined) {
        return 0;
    }
    return results[1] || 0;
}

    function to_time(val) {
        if (Array.isArray(val)) {
            return new Date(val[0]) + " : " + new Date(val[1]);
        } else {
            return new Date(val);
        }
    }

    var token = 'fake';
    $(document).ready(function(){
        if($.urlParam('container') == 0) {
            $("#msg").html("<span class=\"alert alert-danger\">Error: missing query parameter: container</span>");
            return;
        }
        token = $.urlParam('token');
    });


    const EventBus = new Vue();


    var Proc = {
        template: '#proc',
        data: function() {
            return {
                procs: [],
                proclist: {},
                nbprocess: 0,
            }
        },
        mounted: function() {
            this.load_proc();

        },
        methods: {
            get_procs: function(data){
                let proc_info = "";
                let result = {"nodes": [], "edges": []}
                let treenode = {}
                let parent = 1;
                let parent_name = null;
                let compare = function(a,b){
                        if(a.id < b.id) {return 1};
                        if(a.id > b.id) {return -1;}
                        return 0;
                    };
                let count = 0;
                data.sort(compare);
                for(let i=0;i<data.length;i++){
                    let dataelt = data[i];
                    if($.urlParam("root") != 0) {
                        if(dataelt["name"] == $.urlParam("root")){
                            parent = dataelt["id"];
                            dataelt["is_root"] = 1;
                        }
                        else {
                            dataelt["is_root"] =0;
                        }
                    }
                    else if(dataelt["is_root"] == 1) {
                        parent = dataelt["id"];
                    }

                    if(i<1000) {
                        proc_info += "<tr><td>" + dataelt["id"]+ "</td><td>" + dataelt["exe"] + "</td><td>" + dataelt["args"] + "</td></tr>";
                    }
                    count += 1;
                    this.proclist[dataelt["id"]] = dataelt["name"];
                    if(treenode[dataelt["parent"]]==undefined){
                        treenode[dataelt["parent"]] = [];
                    }
                    treenode[dataelt["parent"]].push({"id": dataelt["id"], "name": dataelt["name"],"is_root": dataelt["is_root"]});
                }
                this.nbprocess = count;

                let root = treenode[parent];

                for(let key in treenode) {
                    let elt = treenode[key];
                    for(let j=0;j<elt.length;j++){
                        let subchild = elt[j];
                        let node = {"id":  subchild["id"], "label":  this.proclist[subchild["id"]]+"("+ subchild["id"]+")"};
                        if(subchild["is_root"]) {
                            node['color'] ="red";
                        }
                        result["nodes"].push(node);
                        result["edges"].push({"from": key, "to": subchild["id"], arrows:"to"});
                    }
                }

                treenode = null;

                $("#proc_info").append(proc_info);
                $("#proc_table").DataTable();
                return result;
            },
            load_proc: function(){
                let container_id = $.urlParam('container');
                let ctx = this;
                d3.json('/container/'+container_id+'/proc').header('Authorization', 'token ' + token).get(function(data) {
                    if(data == undefined){
                        $("#msg").html("<span class=\"alert alert-danger\">Error: cannot get data</span>");
                        return;
                    }
                    ctx.procs = ctx.get_procs(data['data']);
                    ctx.draw()
                });
            },
            draw: function(){
                let container = document.getElementById('procs_relationship');
                if(this.procs.nodes.length<200){
                        var nodes = new vis.DataSet(this.procs.nodes);
                        var edges = new vis.DataSet(this.procs.edges);
                        var netdata = {
                        nodes: nodes,
                        edges: edges
                        };
                        /*
                        var options = {
                            'height': '400px'
                        };
                        */
                        var options = {
                            height: '400px'
            ,                layout: {
                                hierarchical: {
                                    direction: "UD",
                                    sortMethod: "directed"
                                }
                            },
                            interaction: {dragNodes :false},
                            physics: {
                                enabled: false
                            }
                        };
                        var network = new vis.Network(container, netdata, options);
                    }
                else {
                    console.log('too many processes, do not show process graph');
                }                
            }          
        }
    }
    Vue.component('proc', Proc); 
    
    var Io = {
        template: '#io',
        props: ['proclist', 'interval'],
        data: function() {
            return {
                ios: [],
                files: [],
                gb_io_files_in_out: 0,
                gb_io_files_in: 0,
                gb_io_files_out: 0,
                gb_io_files_access: 0,
                gb_io_files_modified: 0,
                gb_io_network_in_out: 0,
                gb_io_network_in: 0,
                gb_io_network_out: 0,
            }
        },
        mounted: function() {
            this.load_io();
            this.load_io_interval();
        },
        watch: {
            proclist: function(val, oldVal) {
                let groups = [];
                for(var key in val){
                    var procname = key;
                    if(this.proclist[key]){
                        procname = this.proclist[key];
                    }
                    groups.push({"id": key, "content": procname+"("+key+")"});
                }
                this.ios.groups = groups;
                this.draw();
                //this.updateFiles();           
            },
            interval: function(val, oldVal) {
                this.load_io();
                this.load_io_interval();
            }
        },
        methods: {
            get_io: function(data){
                let io_data = [];
                let procs = [];
                let groups = [];
                for(let key in data){
                    let ok = false;

                    for(let i=0;i<data[key].length;i++){
                        ok = true;
                        metric = {"x": new Date(data[key][i]["ts"]*1000), "y": (data[key][i]["bytes"])/1000, "group": key}
                        io_data.push(metric);
                    }
                    if(ok){
                        procs.push(key);
                        let procName =key;
                        if(this.proclist[data[key][0]["proc_name"]]) {
                            procName = this.proclist[data[key][0]["proc_name"]];
                        }
                        groups.push({"id": key, "content": procName + ":" + key});
                    }
                }
                return {"data": io_data, "groups": groups, "procs": procs};
            },
            load_io_interval: function() {
                let container = $.urlParam('container');
                let ctx = this;
                let show_system = $('#io_system').is(':checked');
                d3.json("/container/"+container+"/io" + '?interval=' + this.interval + '&system=' + show_system).header("Authorization", "token " + token).get(function(data) {
                    $("#mychart_io_interval").html("");
                    ctx.ios = ctx.get_io(data);
                    ctx.draw()
                });
            },
            draw: function() {
                let container = document.getElementById('mychart_io_interval');
                let dataset = new vis.DataSet(this.ios.data);
                let options = {
                        style: 'bar',
                        stack: false,
                        drawPoints: false,
                        legend: true,
                };
                let graph2d = new vis.Graph2d(container, dataset, this.ios.groups, options);
            },
            load_io: function(){
                let container = $.urlParam('container');
                let ctx = this;
                d3.json("/container/"+container+"/io").header("Authorization", "token " + token).get(function(data) {
                    ctx.files = data;
                    ctx.updateFiles()
                });
            },
            updateFiles: function(){
                let show_system = $('#io_system').is(':checked');
                let io_list = "";
                let io_tmp = [];
                let files_in = 0;
                let files_out = 0;
                let network_in = 0;
                let network_out = 0;
                let files_access = 0;
                let files_modified = 0;
                let firsts = {"in": {}, "out": {}};
                for(let key in this.files){
                        for(let i=0;i<this.files[key].length;i++){
                            var elt = this.files[key][i];
                            let procName = elt['proc_id'];
                            if(this.proclist[elt["proc_id"]]) {
                                procName = this.proclist[elt["proc_id"]];
                            }
                            io_tmp.push({
                                "count": elt['io_total'],
                                "row": "<tr><td>" + procName + "(" + elt["proc_id"] +")" + "</td><td>" + elt['file_name'] + "</td><td>" + elt['io_in'] + "</td><td>" + elt['io_out'] + "</td></tr>"
                            });
                            let filename = elt['file_name'];

                            if(filename.startsWith("/")){
                                if(this.files[key][i]["io_in"]>0){
                                    files_in += this.files[key][i]["io_in"];
                                    firsts.in.filename=1;
                                }
                                if(this.files[key][i]["io_out"]>0){
                                    files_out += this.files[key][i]["io_out"];
                                    firsts.out.filename=1;
                                }
                            }
                            else {
                                if(this.files[key][i]["io_in"]>0){
                                    network_in += this.files[key][i]["io_in"];
                                }
                                if(this.files[key][i]["io_out"]>0){
                                    network_out += this.files[key][i]["io_out"];
                                }
                            }
                            if(filename.startsWith("/")){
                                if(firsts.in.filename !== undefined && this.files[key][i]["io_in"]>0){
                                    files_access += 1;
                                }
                                if(firsts.out.filename && this.files[key][i]["io_out"]>0){
                                    files_modified += 1;
                                }
                            }
                            if(! show_system) {
                                if(filename.startsWith('/etc') || filename.startsWith('/usr') || filename.startsWith('/lib')) {
                                    continue;
                                }
                            }
                        }
                }
                let compare = function(a,b){
                        if(a.count < b.count) {return 1};
                        if(a.count > b.count) {return -1;}
                        return 0;
                };
                io_tmp.sort(compare);
                for(var io=0;io<Math.min(100, io_tmp.length);io++){
                    io_list += io_tmp[io].row;
                }

                $("#io_all_list").html(io_list);
                $("#io_table").DataTable();
                this.gb_io_files_in_out = files_in+files_out;
                this.gb_io_files_in = files_in;
                this.gb_io_files_out = files_out;
                this.gb_io_files_access = files_access;
                this.gb_io_files_modified = files_modified;
                this.gb_io_network_in_out = network_in + network_out;
                this.gb_io_network_in = network_in;
                this.gb_io_network_out = network_out;                
            }
        }
    }
    Vue.component('io', Io);
    
    var Cpu = {
        template: '#cpu',
        props: ['proclist', 'interval'],
        data: function() {
            return {
                cpus: [],
                cpu: []
            }
        },
        mounted: function() {
            this.load_cpu();
        },
        watch: {
            proclist: function(val, oldVal) {
                let groups = [];
                for(var key in val){
                    var procname = key;
                    if(this.proclist[key]){
                        procname = this.proclist[key];
                    }
                    groups.push({"id": key, "content": procname+"("+key+")"});
                }
                this.cpus.groups = groups;
                this.draw();             
            },
            interval: function(val, oldVal) {
                this.load_cpu();
            }
        },
        methods: {
            load_cpu: function(){
                let container = $.urlParam('container');
                let ctx = this;
                d3.json('/container/'+container+'/cpu?interval=' + this.interval).header('Authorization', 'token ' + token).get(function(data) {
                    let cpuData = ctx.get_cpu_all(data)
                    ctx.cpus = cpuData;
                    ctx.draw();

                });
            },
            load_per_cpu: function(){
                let container = $.urlParam('container');
                let proc_id = $("#cpu_proc").val();
                let ctx = this;
                d3.json('/container/'+container+'/cpu/' + proc_id + '?interval=' + this.interval).header('Authorization', 'token ' + token).get( function(data) {
                    $("#mychart_cpu_details").html("");
                    let cpuData = ctx.get_per_cpu(data, proc_id);
                    ctx.cpu = cpuData;
                    let container = document.getElementById('mychart_cpu_details');
                    let dataset = new vis.DataSet(cpuData.data);
                    let options = {
                        style: 'line',
                        stack: false,
                        drawPoints: false,
                        legend: true,
                        //width: '800px',
                    };
                    let graph2d = new vis.Graph2d(container, dataset, cpuData.groups, options);
                });
            },
            showProc: function(){
                this.load_per_cpu($.urlParam('container'), $("#cpu_proc").val());
            },
            draw: function(){
                if(!this.cpus.procs){return};
                $("#mychart_cpu0").html("");
                    let container = document.getElementById('mychart_cpu0');
                    let dataset = new vis.DataSet(this.cpus.data);
                    let options = {
                        style: 'line',
                        stack: false,
                        drawPoints: false,
                        legend: true,
                        //width: '800px',
                    };
                    let graph2d = new vis.Graph2d(container, dataset, this.cpus.groups, options);
                    $("#cpu_proc").html("");
                    let proc_selection = "";
                    for(let i=0; i<this.cpus.procs.length;i++){
                        let proc_name = this.cpus.procs[i];
                        if(this.proclist && this.proclist[proc_name]) {
                            proc_name = this.proclist[this.cpus.procs[i]];
                        }
                        proc_selection += "<option value=\"" + this.cpus.procs[i] + "\">" + proc_name + "("+this.cpus.procs[i]+")" + "</option>";
                    }
                    $("#cpu_proc").append(proc_selection);
            },
            get_per_cpu: function (data, proc_id){
                let sub = 10;
                if(this.interval == "m") {
                    sub = 60;
                }
                else if (this.interval == "h") {
                    sub = 3600;
                }
                else if (this.interval == "d") {
                    sub = 3600 * 24;
                }

                let cpu_data = [];
                let procs = [];
                let cpu_list = [];
                let groups = [{"id": "cpu", "content": "cpu"}];
                for(let i=0;i<data[proc_id].length;i++){   
                    procs.push(proc_id);
                    metric = {"x": new Date(data[proc_id][i]["ts"]*1000), "y": data[proc_id][i]["duration"] * 100 / (1000000000 * sub), "group": "cpu"}
                    cpu_data.push(metric);

                }
                return {"data": cpu_data, "groups": groups, "procs": procs};
            },
            get_cpu_all: function(data){
                let sub = 10;
                if(this.interval == "m") {
                    sub = 60;
                }
                else if (this.interval == "h") {
                    sub = 3600;
                }
                else if (this.interval == "d") {
                    sub = 3600 * 24;
                }

                let cpu_data = [];
                let procs = [];
                let groups = [];
                let has_data = false;
                for(let key in data){
                    let ok = false;
                    for(let i=0;i<data[key].length;i++){
                        let has_data = true;
                        let key_ts = new Date(data[key][i]["ts"] * 1000).getTime();

                        ok = true;
                        metric = {"x": new Date(data[key][i]["ts"]*1000), "y": data[key][i]["duration"] * 100 / (1000000000 * sub), "group": key}
                        cpu_data.push(metric);
                    }
                    if(ok) {
                        procs.push(key);
                        let procname = key;
                        if(this.proclist[key]){
                            procname = this.proclist[key];
                        }
                        groups.push({"id": key, "content": procname+"("+key+")"});
                    }
                }
                return {"data": cpu_data, "groups": groups, "procs": procs};
            }
        }
    }
    Vue.component('cpu', Cpu);
    
    var Mem = {
        template: '#mem',
        props: ['proclist', 'interval'],
        data: function() {
            return {
                mem: []
            }
        },
        mounted: function() {
            this.load_mem();
        },
        watch: {
            proclist: function(val, oldVal) {
                let groups = [];
                for(var key in val){
                    var procname = key;
                    if(this.proclist[key]){
                        procname = this.proclist[key];
                    }
                    groups.push({"id": key, "content": procname+"("+key+")"});
                }
                this.mem.groups = groups;
                this.draw();             
            },
            interval: function(val, oldVal) {
                this.load_mem();
            }
        },        
        methods: {
            get_mem: function(data){
                let mem_data = [];
                let procs = [];
                let groups = [];
                for(let key in data){
                    let ok = false;
                    for(let i=0;i<data[key].length;i++){
                        ok = true;
                        metric = {"x": new Date(data[key][i]["ts"]*1000), "y": data[key][i]["vm_size"]/1000, "group": key}
                        mem_data.push(metric);
                    }
                    if(ok){
                        procs.push(key);
                        let procname = key;
                        if(this.proclist[key]){
                            procname = this.proclist[key];
                        }
                        groups.push({"id": key, "content": procname+"("+key+")"});
                    }
                }
                return {"data": mem_data, "groups": groups, "procs": procs};            
            },
            load_mem: function(){
                let container = $.urlParam('container');
                let ctx = this;
                d3.json('/container/'+container+'/mem?interval=' + this.interval).header('Authorization', 'token ' + token).get(function(data) {
                    $("#mychart_mem").html("");
                    ctx.mem = ctx.get_mem(data);
                    ctx.draw();
                });
            },
            draw: function(){
                let container = document.getElementById('mychart_mem');
                let dataset = new vis.DataSet(this.mem.data);
                let options = {
                        style: 'line',
                        stack: false,
                        drawPoints: false,
                        legend: true,
                        //width: '800px',
                        dataAxis: {
                            left: {
                                title: {text: 'Mb'}
                            }

                        }
                };
                let graph2d = new vis.Graph2d(container, dataset, this.mem.groups, options);
            }
        }
    }
    Vue.component('mem', Mem);

    const app = new Vue({
        data: function() {
            return {
                proclist: {},
                showtab: 2,
                interval: 's'
            }
        },
        mounted() {
            this.load_proc($.urlParam('container'), this.interval);
        },
        methods: {
            load_proc: function(container_id){
                let ctx = this;
                d3.json('/container/'+container_id+'/proc').header('Authorization', 'token ' + token).get(function(data) {
                    if(data == undefined){
                        return;
                    }
                    let procs = {}
                    for(let i=0;i<data['data'].length;i++){
                        let proc = data['data'][i];
                        procs[proc['id']] = proc['name'];
                    }
                    ctx.proclist = procs;
                    // EventBus.$emit('procs', {procs: this.proclist});
                });
            },
            showTab: function(tabId) {
                this.showtab = tabId
            },
            changeRange: function(range) {
                this.interval = range
            }
        }
    }).$mount('#app');


    </script>
</body>
</html>
